@model IEnumerable<Пицца_Офис.Models.DTO.MenuItemDTO>



<div class="container p-3 ">

    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Меню</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="MenuItem" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle" style="color:green"></i> &nbsp; Добавить Меню
            </a>
        </div>
    </div>
    <br /><br />

    <table class="table table-bordered table-striped text-break" style="width:100%">
        <thead>
            <tr class="text-center">
                <th>Название</th>
                <th>Цена</th>
                <th>Описание</th>
                <th>Фото</th>
                <th>Категория</th>
                <th></th>
                @*<th></th>*@
            </tr>
        </thead>
        @if (Model!=null)
        {
            <tbody>

                @foreach (var item in Model)
                {

                    <tr class="text-center" style="vertical-align: text-top">
                        @if (@item.Name!=null)
                        {
                            <td width="20%">@item.Name</td>
                            <td width="10%">@item.Price</td>
                            <td width="10%">@item.Description</td>
                            <td><img width="150px" src="@item.ImagePatch"></td>
                            <td width="10%">@item.NameCategory</td>
                        }

                        @*@if (@item.PizzaKingSize != null)
                        {
                            <td width="20%">@item.PizzaKingSize.Name</td>
                            <td width="10%">@item.PizzaKingSize.Price</td>
                            <td width="10%">@item.PizzaKingSize.Description</td>
                            <td><img width="150px" src="@item.PizzaKingSize.ImagePath"></td>
                        }*@

                        <td class="text-end">

                            <a asp-controller="MenuItem" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success mx-1"><i class="bi bi-pencil-square" style="color:goldenrod"></i>&nbsp;Обновить</a>


                            <a asp-controller="MenuItem" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mx-1"><i class="bi bi-trash3-fill" style="color:red"></i>&nbsp;Удалить</a>

                        </td>
                    </tr>

                }
            </tbody>
        }
        

    </table>
</div>

